<div class="section option5">
    <div class="section-wrapper">
        <div class="info">
            <h2>AI is here to help you, ask something!</h2>
            <p>The simplest user experience is an inteligent and intuitive ‘bot’ available via a messenger interface.</p>
            <p class="call-to-action left">select a message</p>
        </div>
        <div class="survey">
            <form id="data">
                <p><input type="hidden" name="subject" value="{{ data.subject }}" /></p>
                <p><input type="hidden" name="relationship" value="{{ data.relationship }}" /></p>
                <h3>{{ data.prompt }}</h3>
                <ul class="choices">
                    {% for concept in data.concepts %}
                        <li><input type="radio" name="object" value="{{ concept.value }}" /> {{ concept.value }}</li>
                    {% endfor %}
                </ul>
            </form>
            <button type="button" class="continue">Continue</button>
        </div>
    </div>
</div>