<div class="section {{ option.css_class }}">
    <div class="section-wrapper">

        {% if option.info is defined %}
            <div class="info">
                <h2>{{ option.info.title }}</h2>
                {% for content_text in option.info.content %}
                    <p>{{ content_text }}</p>
                {% endfor %}
                <p class="call-to-action {{ option.info.action_css_class }}">{{ option.info.action }}</p>
            </div>
        {% endif %}

        <div class="survey">
            <form id="data">
                <p><input type="hidden" name="subject" value="{{ data.subject }}" /></p>
                <p><input type="hidden" name="relationship" value="{{ data.relationship }}" /></p>
                <h3 class="question">{{ data.prompt }}</h3>
                <ul class="choices">
                    {% for concept in data.concepts %}
                        <li>
                            <label>
                                <input class="option" type="radio" name="object" value="{{ concept.value }}" />
                                {{ concept.value }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
            <button type="button" class="continue">Continue</button>
        </div>
    </div>
</div>