<div class="section bot-screen">
    <h1>AI is here to help you, ask something!</h1>
    <p>The simplest user experience is an inteligent and intuitive "bot" available via a mesenger interface.</p>
    <form id="data">
        <p><input type="hidden" name="subject" value="{{ data.subject }}" /></p>
        <p><input type="hidden" name="relationship" value="{{ data.relationship }}" /></p>
        <p>{{ data.prompt }}</p>
        {% for concept in data.concepts %}
            <p><input type="radio" name="object" value="{{ concept.value }}" /> {{ concept.value }}</p>
        {% endfor %}
    </form>
    <button type="button" class="continue">Continue</button>
</div>